table {
    border-collapse: collapse;
}
th, td {
    padding: 4px 8px;
    border: 1px solid #ccc;
    text-align: center;
}
th {
    cursor: pointer;
}
.search {
    margin-bottom: 20px;
    padding: 6px 16px;
}